.faqsContainer {
  margin: 1rem auto;
  background-color: var(--color-grey);
}

.faqsContainer .faqsContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 2rem;
}

.faqsContainer .accordion {
  display: flex;
  flex-direction: column;
  /* max-width: 40rem; */
  width: 50%;
  flex-shrink: 0;
  margin-right: 2rem;
}

.faqsContainer .accordion-body {
    background-color: var(--color-white);
}

.faqsContainer .accordion-button {
    background-color: var(--color-grey);
}

.faqsContainer .faqsTitle {
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2.15rem;
  font-weight: 600;
  text-align: start;
}

.faqsContainer .faqsTitle::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 5rem;
  left: 1.5rem;
  bottom: 0.2rem;
  transform: translateX(-2%);
  background-color: var(--color-orange);
}

.faqsContainer .faqsImg {
  background: url("../../images/other-images/faq.jpg") center center no-repeat;
  background-size: cover;
  padding: 1rem;
  height: 23rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* .faqsContainer .image-container {
  display: grid;
} */

.faqsContainer .image-content {
  /* padding: 0 0 2rem; */
  color: white;
  text-shadow: 5px 1px 8px rgba(0,0,0,1);
  width: 80%;
}

.faqsContainer .accordion-button:not(.collapsed) {
  color: inherit;
  background-color: var(--color-orange);
  color: var(--color-black);
}
.faqsContainer .accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(0%);
}
.faqsContainer .accordion-button:focus {
  box-shadow: inherit;
}

@media screen and (max-width: 768px) {
  .faqsContainer .faqsContent {
    flex-direction: column;
    gap: 2rem;
  }
  
  .faqsContainer .accordion {
    width: 100%;
  }

  .faqsContainer .faqsImg {
    padding: 1rem;
    height: 23rem;
    width: 100%;
    justify-content: flex-end;
  }
}