* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  background-color: var(--color-grey);
}
body {
  margin: auto;
  font-family: var(--font-family);
  overflow-y: scroll;
  display: block;
<<<<<<< HEAD
  width: 100%;
}
=======
}
>>>>>>> bc9a884d1da2476152f2dd6a9c0f28f142e28a9e
