.header {
  width: 100%;
  height: 10vh;
  padding: 1rem 0;
  background-color: var(--color-white);
  box-shadow: 18px 22px 23px -4px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 18px 22px 23px -4px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 18px 22px 23px -4px rgba(0, 0, 0, 0.44);
}

.header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .nav-item {
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.125rem;
  cursor: pointer;
}

.header .nav-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 4px;
  width: 100%;
  background: var(--color-orange);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.header .nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.header .nav-item:not(:last-child) {
  margin-right: 3rem;
}

.header .logo {
  width: 12rem;
}

/* LOGIN BUTTON */
.header .btn-login {
  padding: 0.8rem 1.75rem;
  border-radius: 7px;
  color: var(--color-white);
  background-color: var(--color-black);
  text-decoration: none;
}

.header .btn-login:hover {
  color: var(--color-black);
  background-color: var(--color-orange);
}

.header .menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .nav-menu {
    display: flex;
    flex-direction: column;
  }

  .header .nav-items,
  .btn-login {
    display: none;
  }
}
